In [134]:
import pandas as pd
df = pd.read_csv('ViewingActivity.csv')

In [135]:
#quick review if everything is working correctly.
df.shape

(374, 10)

In [136]:
df.head(5)

,.Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Karen,2023-02-17 17:56:27,00:00:11,NaN,Season 4 Part 2 Trailer: You,TRAILER,Android DefaultWidevineL3Phone Android Phone,00:00:10,00:00:10,KE (Kenya)
1,Karen,2023-02-17 17:46:50,00:05:52,NaN,The Umbrella Academy: Season 2: Right Back Whe...,NaN,Android DefaultWidevineL3Phone Android Phone,00:08:16,00:08:16,KE (Kenya)
2,Karen,2023-02-17 17:15:17,00:03:41,NaN,The Umbrella Academy: Season 1: Changes (Episo...,NaN,Android DefaultWidevineL3Phone Android Phone,00:42:33,00:42:33,KE (Kenya)
3,Karen,2023-02-17 10:24:39,00:24:25,NaN,The Umbrella Academy: Season 1: Changes (Episo...,NaN,Android DefaultWidevineL3Phone Android Phone,00:35:33,Not latest view,KE (Kenya)
4,Karen,2023-02-15 19:10:34,00:03:59,NaN,The Umbrella Academy: Season 1: The Day That W...,NaN,Android DefaultWidevineL3Phone Android Phone,00:31:04,00:31:04,KE (Kenya)

In [137]:
#prep for analysis.
df = df.drop(['.Profile Name', 'Attributes', 'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark', 'Country'], axis=1)
df.head(1)

            Start Time  Duration                         Title
0  2023-02-17 17:56:27  00:00:11  Season 4 Part 2 Trailer: You

In [138]:
#converting strings to datetime and timedelta.
df.dtypes

Start Time    object
Duration      object
Title         object
dtype: object

In [139]:
#Convert Start Time to datetime 
df['Start Time'] = pd.to_datetime(df['Start Time'], utc=True)
df.dtypes

Start Time    datetime64[ns, UTC]
Duration                   object
Title                      object
dtype: object

In [140]:
#Convert Start Time from UTC to our local timezone
# Assuming df is your DataFrame
df = df.set_index('Start Time')

# Convert from UTC timezone to Nairobi, Kenya timezone
df.index = df.index.tz_convert('Africa/Nairobi')

# Reset the index so that Start Time becomes a column again
df = df.reset_index()

# Double-check that it worked
df.head(1)

                 Start Time  Duration                         Title
0 2023-02-17 20:56:27+03:00  00:00:11  Season 4 Part 2 Trailer: You

In [141]:
#Convert Duration to timedelta
df['Duration'] = pd.to_timedelta(df['Duration'])
df.dtypes

Start Time    datetime64[ns, Africa/Nairobi]
Duration                     timedelta64[ns]
Title                                 object
dtype: object

In [142]:
#Filtering Strings by Substring in pandas Using str.contains
# create a new dataframe called office that that takes from df
# only the rows in which the Title column contains 'Season 4 Part 2 Trailer: You'
You = df[df['Title'].str.contains('Season 4 Part 2 Trailer: You', regex=False)]
You.shape

(1, 3)

In [143]:
#Filtering Out Short Durations Using Timedelta
You = You[(You['Duration'] > '0 days 00:01:00')]
You.shape

(0, 3)

In [144]:
#Analyzing the Data
You['Duration'].sum()

Timedelta('0 days 00:00:00')