In [43]:
import pandas as pd
df = pd.read_csv('ViewingActivity.csv')

In [44]:
#quick review if everything is working correctly.
df.shape

(374, 10)

In [45]:
df.head(5)

,.Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Karen,2023-02-17 17:56:27,00:00:11,NaN,Season 4 Part 2 Trailer: You,TRAILER,Android DefaultWidevineL3Phone Android Phone,00:00:10,00:00:10,KE (Kenya)
1,Karen,2023-02-17 17:46:50,00:05:52,NaN,The Umbrella Academy: Season 2: Right Back Whe...,NaN,Android DefaultWidevineL3Phone Android Phone,00:08:16,00:08:16,KE (Kenya)
2,Karen,2023-02-17 17:15:17,00:03:41,NaN,The Umbrella Academy: Season 1: Changes (Episo...,NaN,Android DefaultWidevineL3Phone Android Phone,00:42:33,00:42:33,KE (Kenya)
3,Karen,2023-02-17 10:24:39,00:24:25,NaN,The Umbrella Academy: Season 1: Changes (Episo...,NaN,Android DefaultWidevineL3Phone Android Phone,00:35:33,Not latest view,KE (Kenya)
4,Karen,2023-02-15 19:10:34,00:03:59,NaN,The Umbrella Academy: Season 1: The Day That W...,NaN,Android DefaultWidevineL3Phone Android Phone,00:31:04,00:31:04,KE (Kenya)

In [46]:
#prep for analysis.
df = df.drop(['.Profile Name', 'Attributes', 'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark', 'Country'], axis=1)
df.head(1)

            Start Time  Duration                         Title
0  2023-02-17 17:56:27  00:00:11  Season 4 Part 2 Trailer: You

In [47]:
#converting strings to datetime and timedelta.
df.dtypes

Start Time    object
Duration      object
Title         object
dtype: object

In [48]:
#Convert Start Time to datetime 
df['Start Time'] = pd.to_datetime(df['Start Time'], utc=True)
df.dtypes

Start Time    datetime64[ns, UTC]
Duration                   object
Title                      object
dtype: object